<div class="col-md-12">
  <div class="group">
    <%= link_to("New Group", new_group_path, class:"btn btn-primary pullright")%>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>Title</td>
        <td>Description</td>
        <td>Creator</td>
      </tr>
    </thead>
    <tbody>
      <% @groups.each do |gr| %>
        <tr>
          <td>#</td>
          <td><%= link_to(gr.title, group_path(gr))%></td>
          <td><%= simple_format(gr.description) %></td>
          <td><%= gr.user.email %></td>
          <td>
            <% if current_user && current_user == gr.user %>
              <%= link_to("Edit", edit_group_path(gr), class: "btn btn-sm btn-default")%>
              <%= link_to("Delete", group_path(gr), class: "btn btn-sm btn-default", method: :delete, data: { confirm: "Are you sure?"})%>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
